:root {
  --header-main: #ffbc6fb5;
  --footer-border: #a52a2a;
  --svg-menu: url(../icons/menu-black.svg);
  --selected-svg-menu: url(../icons/menu-white.svg);

  --page1-title: #d39819;
  --page1-subtitle: rgb(211, 133, 25);
  --page1-text: rgb(148, 79, 10);
  --page1-img-bg: #ffeed7;
  --page1-article-bg: white;
  --page1-btn-bg: #d38519;
  --page1-btn-hover: rgba(255, 188, 111, 0.711);
  --page1-btn-text: white;

  --page2-title: #e51251;
  --page2-subtitle: rgb(255, 39, 104);
  --page2-text: #b50036;
  --page2-img-bg: #ffd3e4;
  --page2-article-bg: white;
  --page2-btn-bg: rgb(181, 0, 54);
  --page2-btn-hover: rgb(255, 39, 104);
  --page2-btn-text: white;

  --page3-title: #b08802;
  --page3-subtitle: rgb(229, 187, 50);
  --page3-text: rgb(97, 56, 2);
  --page3-img-bg: #ffe771;
  --page3-article-bg: white;
  --page3-btn-bg: rgb(176, 136, 2);
  --page3-btn-hover: rgb(229, 187, 50);
  --page3-btn-text: white;

  --page4-title: #ffd700;
  --page4-subtitle: rgb(250, 221, 52);
  --page4-text: rgb(255, 194, 38);
  --page4-img-bg: #01494b;
  --page4-article-bg: rgb(1, 73, 75);
  --page4-border: #daa520;
  --page4-btn-bg: rgb(1, 108, 112);
  --page4-btn-hover: rgb(2, 162, 168);
  --page4-btn-text: gold;
}
