@font-face {
  font-family: "variable";
  src: url(../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth.ttf);
}
@font-face {
  font-family: "italico";
  src: url(../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth.ttf);
}
